@import "tailwindcss";

/* ================================
   DESIGN TOKENS (DEFAULT = LIGHT)
   ================================ */

@theme {
  /* Fonts */
  --font-sans: var(--font-inter);
  --font-logo: var(--font-satoshi);

  /* Brand */
  --color-primary: #4D2FB2;
  --color-primary-hover: #4A4FD8;
  --color-accent: #2DD4BF;

  /* Backgrounds */
  --color-bg: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-surface-elevated: #F1F5F9;
  --color-border: #999999;

  --color-contrast: #000000;
  /* Text */
  --color-text: #0F172A;
  --color-text-secondary: #475569;
  --color-text-muted: #94A3B8;

}

/* ================================
   DARK THEME OVERRIDES
   ================================ */

:root[data-theme="dark"] {
  --color-bg: #121212;
  --color-surface: #1f1f1f;
  --color-surface-elevated: #212022;
  --color-border: #2a281d;

  --color-contrast: #ffffff;
  --color-text: #d9d9d9;
  --color-text-secondary: #c3c3c3;
  --color-text-muted: #434343;
}

/* ================================
   BASE STYLES
   ================================ */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
/* afcbff */
/* D7F9FF */
/* F9FBF2 */